<% if user_signed_in? %>
<h2>test</h2>

<%= link_to 'log out', destroy_user_session_path, method: :delete %><br>

<div class='row'>
  <div class='col-4'>
    <%= @user.name %>
    <%= @user.email %><br>
  </div>
</div>

<div class='row'>
  <div class='col'>
    <%= render 'user_contents' %>
  </div>
</div>

<% else %>
<% end %>
