/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$cian-dark: rgb(3, 164, 175);
$gray-darker: rgb(65, 69, 78);
$red-darker: rgb(184, 57, 57);

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: $gray-darker;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 1.0em;
  color: $gray-darker;
}

#btn-positive {
  color: $gray-darker;
  background-color: white;
  border: 2px solid $cian-dark;
}

#btn-negative {
  color: $gray-darker;
  background-color: white;
  border: 2px solid $red-darker;
}

// .link {
//   text-decoration: none;
// }

// .link:hover {
//   text-decoration: underline;
// }

header {
  color: whitesmoke;
  background-color: #212529;
  border-bottom: 3px solid $cian-dark;

  a {
    margin-left: 10px;
    color: whitesmoke;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: whitesmoke;
  }
}

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 4rem;
  box-sizing: border-box;
}

.container-body {
  margin-top: 1%;
}

// footer

footer {
  width: 100%;
  height: 4rem;
  position: absolute;
  bottom: 0;
  background-color: #212529;
  border-top: 3px solid $cian-dark;
  text-align: center;

  p {
    color: whitesmoke;
  }
}

// login page

.title-text {
  text-align: center;
  position: relative;
  div {
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%, 50%);
    width: 100%;
  }
}


.login-page {
  padding-top: 10%;
  width: 80%
}

.btn-registration {
  margin-bottom: 10px;
}

.btn-signin {
  margin-bottom: 10px;
}

// user index view

.table-users {
  width: 70%;
}

// user show view

#task_search {
  color: $gray-darker;
}

// user edit view
.field {
  margin-bottom: 10px;
}

.actions {
  margin-bottom: 10px;
}

// table

table {
  margin-top: 2%;
  width: 100%;
  color: $gray-darker;

  thead {
    border-bottom: 1px solid $cian-dark;
  }

  tbody {
    tr {
      border-bottom: 1px solid $cian-dark;
    }

    td {
      height: 3rem;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.table-text {
  color: $gray-darker;
}

// team index view

.table-teams {
  width: 80%;

  td {
    height: 3rem;
  }
}

// team show view

.team-edit-form {
  p {
    margin-bottom: 10px;
  }

  #team_name {
    margin-bottom: 5px;
  }
}

.member-invite-form {
  margin-top: 20px;
  p {
    margin-bottom: 10px;
  }
}

.team-disband-button {
  margin-top: 30px;
}

.topic-create-form {
  margin-top: 15px;
  #topic_description {
    margin-bottom: 15px;
    box-sizing: border-box;
    height: calc( 1.3em * 7 );
    line-height: 1.3;
  }
  #topic_priority {
    margin-bottom: 10px;
  }
  #topic_status {
    margin-bottom: 15px;
  }
  #topic_deadline_5i {
    margin-bottom: 10px;
  }
}

// topic show view

.topic-table {
  margin-bottom: 2%;
}

.edit-delete-button {
  display: flex;
}

.btn-delete {
  margin-left: 10px;
}

.task-create-form {
  #task_description {
    margin-bottom: 15px;
    box-sizing: border-box;
    height: calc( 1.3em * 7 );
    line-height: 1.3;
  }
  #task_priority {
    margin-bottom: 10px;
  }
  #task_status {
    margin-bottom: 15px;
  }
  #task_deadline_5i {
    margin-bottom: 10px;
  }
}

button {
  border: 0px solid white;
  background-color: transparent;
  padding: 0px;
}

.row-border {
  border-top: 1px solid $cian-dark;
  border-bottom: 1px solid $cian-dark;
  margin-bottom: 20px;
}